.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
    color: black
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border-bottom: 1px solid black;
    outline: none;
    transition: 0.6s linear;
    margin: auto;
}

.faq-page.active {
    color: aliceblue
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   color: black;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: rgb(70, 127, 0);
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    
}

.faq-page {
    font-size: 18px;
}

.faq-body p {
    color: black;
    font-weight: 700;
    line-height: 1.5;
    font-size: 18px;
    padding: 20px;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(70, 127, 0);
    float: right;
    margin-left: 5px;
}
.actives:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
  }
  

@media (max-width: 1500px) {
    header {
        max-width: 900px;
    }
    .header-foo__logo img {
        width: 80px;
    }
    .header-foo__address, .header-foo__btn, .header-foo__phone, .header-foo__time {
        font-size: 12px;
    }
    .one-div-content__default > h1 {
        font-size: 36px;
    }
    .one-div-content__default > p {
        font-size: 20px;
        padding-top: 20px;
    }

    .second-div-content__company strong {
        font-size: 30px;
    }
    .second-div-content__company p {
        font-size: 18px;
    }

    .third-div-content__dayone {
        font-size: 18px;
    }
    .third-div-content__daytwo {
        font-size: 18px;
        top: 40px
    }
    .div2 {
        width: 55%;
    }
    .lf-img img {
        width: 400px;
    }
    .work-septik-left__two img {
        width: 290px;
        height: 230px
    }
    .work-septik-left__number span {
        font-size: 30px;
    }
    .work-septik-left__number {
        font-size: 16px;
    }

    .work-septik-right-form__img img {
        width: 150px;
    }
    #form-quest {
        font-size: 22px;
    }
    .work-septik-right-form__content p {
        font-size: 16px;
    }
    .work-septik-right-form__content input {
        height: 30px;
        font-size: 16px;
    }
    .work-septik-right-form__btn {
        font-size: 16px;
        width: 70%;
    }
    .faq-heading {
        font-size: 22px;
    }
    .pulse-button {
        width: 60px;
        height: 60px;
    }
    .pulse-button__icon {
        width: 30px;
        height: 30px
    }
}

@media (max-width: 1366px) {
    .lf-img img {
        width: 300px;
    }

    .second-div-bioseptik__left p {
        font-size: 16px;
    }
    
    .second-div-bioseptik-right__text p {
        font-size: 16px;
    }
    #septic{
        font-size: 22px;
    }
    .one-div-content__default > h1 {
        font-size: 30px;
    }
    .one-div-content__default > p {
        font-size: 18px;
    }
    .header-foo__btn {
        display: none;
    }
    header {
        max-width: 800px;
    }
    .second-div-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .second-div-content__company strong {
        font-size: 26px;
        text-align: center;
    }
    .second-div-content__company p {
        font-size: 14px;
        text-align: center;
    }
    .child {
        height: 600px;
    }
    .one-div {
        min-height: 800px;
    }
    .second-div-content__company strong::after {
        right: 14.8%;
    }
    .work-septik-left__ul {
        flex-direction: column;
    }
    .work-septik-left__item {
        flex-direction: row;
        width: 100%;
        height: 250px;
    }
    .work-septik-left__number {
        padding-left: 30px;
    }
    .work-septik-right-form__btn {
        font-size: 14px;
        width: 90%;
    }
    #form-quest {
        font-size: 20px;
        padding-left: 50px;
    }
    .work-septik-right-form__content p {
        width: 90%;
    }
    .ff a, .ff li p > strong, .ff p {
        font-size: 10px;
    }
    .faq-page {
        font-size: 13px;
      }
}

@media (max-width: 768px) {
    .header-foo {
        justify-content: center;
    }
    .second-div-content__company p strong {
        text-shadow: 0px 0px 1px black;
    }
    .second-div-content__company strong::after {
        right: 13.8%;
    }
    .third-div-content__dayone {
        font-size: 13px;
    }
    .third-div-content__daytwo p {
        padding: 5px;
        font-size: 14px;
    }
    .icons-div {
        width: 70px;
        height: 70px;
    }
    .icons-div img {
        width: 50px;
    }
    .icons-div p {
        font-size: 13px;
    }
    .second-div-bioseptik-right__text p {
        font-size: 13px;
    }
    .second-div-bioseptik__left button {
        font-size: 13px;
    }
    .second-div-bioseptik__left p {
        font-size: 13px;
    }
    .lf-img img {
        width: 250px;
    }
    .work-septik {
        flex-direction: column;
    }
    .work-septik-left {
        width: 90%;
    }
    .work-septik-left__content {
        flex-direction: column;
    }
    .work-septik-left__ul {
        flex-direction: row;
    }
    .work-septik-left__item {
        flex-direction: column;
        width: 40%;
        height: 450px;
        /* justify-content: space-between */
    }
    .work-septik-left__number {
        width: 100%;
        padding-left: 0;
    }
    .work-septik-left__name {
        margin-bottom: 40px;
    }
    .work-septik-right {
        padding-top: 50px;
        width: 100%;
    }
    .work-septik-right-form__btn {
        margin: 20px;
        width: 60%;
    }
    .work-septik-right-form__content p {
        font-size: 14px;
    }
    .faq-body p {
        font-size: 14px;
    }

    .ff a, .ff li p > strong, .ff p {
        font-size: 8px;
    }
}

@media (max-width: 575px) {
    .header-foo__address {
        font-size: 10px;
        width: 51%;
    }
    .header-foo__time {
        display: none;
    }
    .header-foo__phone {
        font-size: 10px;
        width: 49%;
    }

    .header-foo__logo img {
        width: 80px;
        padding-top: 2%;
    }
    .one-div-content {
        flex-direction: column;
    }
    .one-div-content__default {
        width: 100%;
    }

    .one-div-content__default h1 {
        font-size: 24px;
        text-align: center;
    }

    .one-div-content__default p {
        font-size: 14px;
        text-align: center;
    }
    .second-div-content {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .second-div-content__company {
        width: auto;
    }
    .second-div-content__company p {
        color: #ffce54;
        text-shadow: 0px 0px 150px black;
    }
    .last {
        padding-right: 9%;
    }
    .third-div-content__day {
        width: 90%;
    }
    .third-div-content__dayone {
        top: 100%;
        margin-top: 80px;
        display: flex;
    }
    .third-div-content__daytwo {
        top: 125px;
    }
    .third-div-content__btn {
        /* margin: 0 auto; */
        width: 100%;
    }
    .third-div-content__btn a {
        margin-left: 15px;
        font-size: 12px;
    }
    .third-div-content__dayone p {
        font-size: 12px;
    }
    .second-div-bioseptik {
        flex-direction: column;
    }
    .second-div-bioseptik__left, .second-div-bioseptik__right {
        width: 100%;
    }
    .second-div-bioseptik__left button {
        font-size: 10px;
    }
    .second-div-bioseptik__left p {
        font-size: 12px;
    }
    .lf-img img {
        width: 200px;
    }
    .btn {
        width: 95px;
    }
    .second-div-bioseptik {
        height: 150vh;
    }
    .second-div-bioseptik__right {
        box-shadow: 0px 0px 0px;
    }
    #septic {
        font-size: 18px;
    }
    .second-div-bioseptik__left ul li {
        padding: 15px;
    }
    .icons-div p {
        font-size: 10px;
    }

    .work-septik-left__ul {
        flex-direction: column;
    }

    .work-septik-left__item {
        width: 100%;
        margin: 0;
    }
    .work-septik-left__number {
        text-align: center;
    }
    .work-septik-right {
        padding: 0;
    }
    .work-septik-right-form__btn {
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }
    .faq-page {
        font-size: 12px;
    }
    .faq-body {
        padding: 0;
        width: 80%;
        text-align: center;
    }
    .work-septik-right-form__content p {
        text-align: center;
    }
    .foo-container {
        width: 100%;
        justify-content: space-between;
    }
    .foo-container li p {
        font-size: 6px;
    }
    .foo {
        width: 35%;
    }
    .foo-text {
        font-size: 8px;
    }
    .foo-two {
        width: 33%;
    }
    .foo-li-one {
        text-align: center;
        font-size: 8px;
    }
    .pulse-button {
        right: 20px;
    }
    .second-div-content__company p strong {
        font-size: 24px;
    }
    .second-div-content__company p {
        font-size: 11px;
    }
    .work-septik-right-form__content input {
        width: 250px;
        font-size: 12px;
    }
    .faq-body p {
        font-size: 12px;
    }
    .faq-heading {
        font-size: 18px;
    }
    .ff a, .ff li p > strong, .ff p {
        font-size: 6px;
    }
    .header-foo__logo {
        position: absolute;
        top: 12%;
        left: 38%;
    }
}

@media (max-width: 320px) {
    .second-div-bioseptik {
        height: 190vh;
        
    }
    .second-div-bioseptik-right__text p {
        font-size: 11px;
        padding-top: 80px;
    }
    .work-septik-right-form__btn {
        width: 220px;
    }
    .header-foo__phone, .header-foo__address {
        font-size: 8px;
    }
}