*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    line-height: 1.5
    // padding: 0
    margin: 0
    color: #ffffff

body, html
    width: 100%
    min-height: 100%

.child
    width: 100%
    margin: 0 auto
    
header
    max-width: 1240px
    margin: 0 auto
    // border: 2px solid red
.one-div
    background: url(/img/back.png) center / cover
    height: 990px
    position: relative

.header-foo
    display: flex
    justify-content: center
    padding-top: 20px
    height: 80px
    font-weight: 700

.header-foo__time, .header-foo__address, .header-foo__phone, .header-foo__btn
    font-size: 15px
    margin: 5px
    border-right: 1px solid #ffffff
    display: flex
    justify-content: center
    align-items: center
    width: 25%

// .header-foo__logo
//     float: left




.header-foo__phone, .header-foo__btn
    border: none

.header-foo__address
    font-size: 15px
    // margin-left: 2px

.header-foo img
    width: 20px
    height: 25px

.header-foo__address img, .header-foo__phone img, .header-foo__time img
    margin-right: 15px
    height: 20px
    width: 20px

.header-foo__btn button
    background: rgb(25, 127, 0)
    border: none
    border-radius: 20px
    width: 200px
    height: 40px
    font-size: 15px
    font-weight: 700
    cursor: pointer

.header-foo__btn button:hover
    background: rgb(36, 182, 0)
    transition: all .3s

.header-foo__logo img
    width: 120px
    height: 120px
    margin: 5px
    position: absolute
    left: 3%

.menu-trigger 
    position: fixed
    top: 20%
    left: 0
    width: 50px
    height: 50px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    z-index: 10
    background: rgb(25, 127, 0)
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.menu-trigger:hover 
    border-right: none
    height: 50px
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
    display: none

.menu-trigger:hover > .bars > span:first-of-type, .menu-trigger:hover > .bars > span:last-of-type 
    display: block
    transform: translateY(-5px)
    opacity: 0


.menu-trigger:hover > .bars > span:nth-of-type(2) 
    transform: scaleY(1.2)
    transform-origin: center bottom

.menu-trigger:hover > .menu 
    transform: translateX(50px)
    border-top-right-radius: 50px
    background: rgb(25, 127, 0)

.menu-trigger:hover > .menu > ul > li > a 
    transform: translateY(0)

.menu-trigger:hover > p 
    transform: translateY(40px) rotate(-90deg)
    opacity: 1

.menu-trigger > p,  .menu-trigger > a
    color: #fff
    transform: translateY(10px) rotate(-90deg)
    margin-top: 30px
    font-weight: bold
    letter-spacing: 0.12rem
    transition: all 0.4s ease
    position: absolute
    opacity: 0
    font-size: 0.9rem
    z-index: 10

.menu-trigger a
    text-decoration: none

.bars 
    display: flex
    width: 50%
    align-items: center
    justify-content: space-between
    z-index: 10
    height: 100vh
    display: none

.bars > span 
    width: 4px
    height: 30px
    background: rgb(221, 221, 221)
    transition: all 0.4s ease


.menu 
    position: absolute
    width: 180px
    top: 0
    left: 0
    background: none
    height: 500px
    transform: translateX(calc(-100% + 51px))
    transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    padding: 50px 50px 50px 20px
    will-change: transform
    display: none

.menu p
    width: 100%
    font-size: 14px
    text-align: center
    padding-left: 20px

.menu p:first-of-type
    padding-top: 50px

.menu p:last-of-type
    text-align: center
.menu ul
    width: 260px
    height: 225px
    padding-left: 0

.menu > ul:hover > li:not(:hover) 
    color: rgba(249, 249, 237, 0.5)

.menu > ul > li 
    color: #f9f9ed
    font-size: 1rem
    cursor: pointer
    padding: 10px 0
    width: 110px
    overflow: hidden
    border-bottom: solid 1px rgba(0,0,0,0.2)
    transition: 0.3s

.menu > ul > li > a
    display: block
    width: 100%
    height: 100%

.menu > ul > li:hover 
    background-color: rgba(0,0,0,0.2)

.menu > ul > li:hover
    background-color: rgba(0,0,0,0.2)
    animation: linkAnimation 0.2s ease-out

@keyframes linkAnimation 
    0% 
        transform: scale(1.1)
    80% 
        transform: scale(0.9)
    100% 
        transform: scale(1)


.menu > ul > li:nth-of-type(1) > a 
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s, color 0.2s ease

.menu > ul > li:nth-of-type(2) > a 
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s, color 0.2s ease

.menu > ul > li:nth-of-type(3) > a 
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s, color 0.2s ease

.menu > ul > li:nth-of-type(4) > a 
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s, color 0.2s ease

.menu > ul > li:nth-of-type(5) > a 
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, color 0.2s ease

.menu > ul > li > a 
    transform: translateY(calc(100% + 10px))


// .header-nav 
//     color: #fff
//     width: 250px
//     padding-left: 20px
//     height: 80vh
//     background-image: linear-gradient(30deg , rgb(17, 85, 0), rgb(37, 184, 0))
//     border-top-right-radius: 80px
//     position: fixed
//     left: 0


// .header-nav a 
//     font-size: 16px
//     color: #fff
//     display: block
//     padding: 12px
//     padding-left: 30px
//     text-decoration: none
//     -webkit-tap-highlight-color: transparent



// .header-nav a:hover 
//     color: #fff
//     background: rgb(26, 196, 0)
//     outline: none
//     position: relative
//     background-color: rgb(26, 196, 0)
//     border-top-left-radius: 20px
//     border-bottom-left-radius: 20px


// .header-nav a i 
//     margin-right: 5px


// .header-nav a:hover::after 
//     content: ""
//     position: absolute
//     background-color: transparent
//     bottom: 100%
//     right: 0
//     height: 35px
//     width: 35px
//     border-bottom-right-radius: 18px
//     box-shadow: 0 20px 0 0 rgb(26, 196, 0)


// .header-nav a:hover::before 
//     content: ""
//     position: absolute
//     background-color: transparent
//     top: 48px
//     right: 0
//     height: 35px
//     width: 35px
//     border-top-right-radius: 18px
//     box-shadow: 0 -20px 0 0 rgb(26, 196, 0)


// .header-nav p 
//     margin: 0
//     padding: 40px 0


// body 
//     font-family: 'Roboto'
//     width: 100%
//     height: 100vh
//     margin: 0

.one-div-content
    width: 80%
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: justify
    margin-top: 130px

.one-div-content__default
    width: 60%

.one-div-content__default > h1
    font-size: 50px
    text-shadow: 1px 3px 10px #050505

.one-div-content__default > p
    font-size: 30px
    text-shadow: 1px 3px 10px #050505
    font-weight: 600

.second-div-content
    width: 40%
    display: flex
    flex-wrap: wrap
    justify-content: center

.second-div-content__company
    width: 50%
    padding-left: 20px

.second-div-content__company strong
    font-size: 44px
    color: rgb(17, 128, 0)
    // text-shadow: 1px 3px 10px #050505

.second-div-content__company p
    font-size: 22px
    padding-top: 5px
    color: black
    font-weight: 600
.second-div-content__company strong::after
    content: ""
    display: block
    position: absolute
    width: 50px
    // left: 48%
    border-bottom: 4px solid rgb(0, 32, 128)
    border-radius: 3px
    box-shadow: 1px 3px 10px black

.third-div-content
    width: 100%
    padding-top: 200px
    display: flex
    flex-direction: row

.third-div-content__day
    position: relative
    width: 55%

.third-div-content__dayone
    position: absolute
    width: 100%
    font-size: 30px
    text-transform: uppercase
    text-align: center
    font-weight: 700
    background-color: aliceblue
    z-index: 5
    box-shadow: 0px 0px 15px #ffffff

.third-div-content__dayone p
    color: black
    padding: 10px 10px 20px 10px

.third-div-content__daytwo
    position: absolute
    z-index: 6
    background: rgb(26, 196, 0)
    font-size: 28px
    text-transform: uppercase
    font-weight: 700
    left: 410px
    top: 60px
    box-shadow: 1px 3px 10px #050505

.third-div-content__daytwo p
    padding: 10px

.third-div-content__btn a
    text-decoration: none
    background: #ffce54
    color: black
    padding: 15px 30px

.third-div-content__btn
    width: 75%

@-webkit-keyframes pulse-grow-on-hover 
    to 
        -webkit-transform: scale(1.1)
        transform: scale(1.1)


@keyframes pulse-grow-on-hover 
    to 
        -webkit-transform: scale(1.1)
        transform: scale(1.1)

.pulse-grow-on-hover 
    display: inline-block
    vertical-align: middle
    -webkit-transform: perspective(1px) translateZ(0)
    transform: perspective(1px) translateZ(0)
    box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.pulse-grow-on-hover:hover, .pulse-grow-on-hover:focus, .pulse-grow-on-hover:active 
    -webkit-animation-name: pulse-grow-on-hover
    animation-name: pulse-grow-on-hover
    -webkit-animation-duration: 0.3s
    animation-duration: 0.3s
    -webkit-animation-timing-function: linear
    animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    animation-iteration-count: infinite
    -webkit-animation-direction: alternate
    animation-direction: alternate


.second-div-bioseptik
    height: 35vmax
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    margin: 0 auto
    width: 100%

.second-div-bioseptik__left
    background-image: linear-gradient(30deg , aliceblue, rgb(240, 248, 259))
    width: 55%
    box-shadow: 0px 0px 10px black

.second-div-bioseptik__left p, .btn, h5
    color: black

.second-div-bioseptik__left p
    font-size: 18px

#septic
    font-size: 28px
    margin: 40px 0px 0px 70px 

.second-div-bioseptik__left button
    text-decoration: none
    font-size: 14px
    margin: 0px 20px
    padding: 5px
    font-weight: 700
    background: rgb(26, 196, 0)
    cursor: pointer
    color: black


.div1
    width: 40%
    // height: 600px

.div2
    // width: 60%
    margin-top: 30px
    width: 500px
    font-size: 24px
    text-align: justify
    display: flex
    flex-direction: column
    justify-content: flex-start

.div3
    display: flex

.second-div-bioseptik__left ul
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    list-style-type: none
    margin: 10px 0px
    padding: 0px 30px
    height: 500px

.second-div-bioseptik__left ul li
    display: block
    margin: 0px 10px
    padding: 5px
    width: 182px
    position: relative

.lf1, .lf2, .lf3, .lf4, .lf5
    display: none
.lf-img img
    width: 450px
    margin-top: 30px 
.none
    display: block

.lf4 p
    font-size: 16px

#btn1, #btn2, #btn3, #btn4, #btn5
    border: 0
    border-radius: 13px
    box-shadow: 0px 0px 1px 
    position: relative

.btn.active
    color: #2600ad
    transition: 0.5s
    -webkit-transition: 0.5s
    position: relative
    overflow: hidden
    display: block
    
.btn.active span
    position: absolute
    display: block

.btn.active span:nth-child(1)
    top: 0
    left: 0
    width: 100%
    height: 2px
    background: linear-gradient(90deg,transparent,#2600ad)
    animation: animate1 1s linear infinite

@keyframes animate1
    0%
        left: -100%
    
    50%,100%
        left: 100%
    

.btn.active span:nth-child(2)
    top: -100%
    right: 0
    width: 2px
    height: 100%
    background: linear-gradient(180deg,transparent,#2600ad)
    animation: animate2 1s linear infinite
    animation-delay: 0.25s

@keyframes animate2
    0%
        top: -100%
    
    50%,100%
        top: 100%
    

.btn.active span:nth-child(3)
    bottom: 0
    right: 0
    width: 100%
    height: 2px
    background: linear-gradient(270deg,transparent,#2600ad)
    animation: animate3 1s linear infinite
    animation-delay: 0.50s

@keyframes animate3
    0%
        right: -100%
    
    50%,100%
        right: 100%
    



.active span:nth-child(4)
    bottom: -100%
    left: 0
    width: 2px
    height: 100%
    background: linear-gradient(360deg,transparent,#2600ad)
    animation: animate4 1s linear infinite
    animation-delay: 0.75s

@keyframes animate4
    0%
        bottom: -100%
    
    50%,100%
        bottom: 100%
    


#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover
    -webkit-transform: translate(2.5%, 10%)
    transform: translate(2.5%, 10%)
    text-shadow: 0px 0px 2px black
    color: #2600ad

.second-div-bioseptik__right
    width: 45%
    box-shadow: 0px 0px 10px black

#wtf
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    

.div4
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 40vmin
.icons-div
    width: 100px
    height: 100px
    background: rgb(70, 127, 0)
    border-radius: 50px
    margin-top: 30px

.icons-div img
    display: block
    width: 80px
    margin: 0 auto
    margin-top: 10px
    

.icons-div p 
    color: black
    font-size: 16px
    font-weight: 600
    text-align: center
    margin-top: 15px

.second-div-bioseptik-right__text p
    color: black
    width: 70%
    margin: 0 auto
    text-align: justify
    font-size: 18px
    padding-top: 100px

.second-div-bioseptik-right__text p:last-of-type
    padding-top: 20px

.work-septik-left__name
    margin-bottom: 90px
    padding: 20px 0px 0px 0px
    font-size: 26px
    font-weight: 700
    color: aliceblue

.work-septik
    background: rgb(26, 127, 0)
    width: 100%
    display: flex


.work-septik-left
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: space-between
    -webkit-box-pack: justify
    line-height: 1.5
    text-align: left
    width: 50%
    margin: 0 auto

.work-septik-left__ul
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    -webkit-box-pack: justify
    line-height: 1.5
    text-align: left
    width: 100%


.work-septik-left__item
    width: 50%
    height: 600px
    margin-bottom: 40px
    font-size: 18px
    line-height: 24px
    -webkit-transition: all 200ms ease
    -moz-transition: all 200ms ease
    -ms-transition: all 200ms ease
    -o-transition: all 200ms ease
    transition: all 200ms ease
    position: relative
    color: aliceblue
    text-align: justify 
    display: flex
    flex-direction: column
    // justify-content: space-between
    align-items: center
    // border: 2px solid blue

.work-septik-left__item:hover
    text-shadow: 0px 0px 10px #2600ad
    cursor: pointer
        

.work-septik-left__item:hover .work-septik-left__number span
    font-size: 40px
    text-shadow: 0px 0px 20px #2600ad
.work-septik-left__number
    margin-bottom: 20px
    font-weight: 400
    font-size: 18px
    color: #fff
    position: relative
    width: 90% 
    text-align: justify

.work-septik-left__number span
    margin-bottom: 20px
    font-weight: 600
    font-size: 37px
    color: #fff
    position: relative
    border-bottom: 3px solid #2600ad
    width: 13% 

.work-septik-right
    width: 45%
    display: flex
    // align-items: center
    padding-top: 100px

.work-septik-right-form
    width: 60%
    margin: 0 auto
    // height: 90%


.work-septik-right-form__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

#form-quest
    font-size: 27px
    font-weight: 700
    word-spacing: 2px
    padding-bottom: 50px
    text-align: center
    padding-left: 100px

.work-septik-right-form__content p
    padding-bottom: 30px
    width: 80%
    font-size: 18px
    text-align: justify

.work-septik-right-form__username span
    color: red


.work-septik-right-form__userphone span
    color: red

.work-septik-right-form__username p, .work-septik-right-form__userphone p
    text-align: left

.work-septik-right-form__content input
    height: 50px
    border-radius: 50px
    border: none
    color: black
    font-size: 20px
    padding: 20px
    margin-bottom: 40px

.work-septik-right-form__btn
    text-decoration: none
    background: #ffce54
    color: black
    padding: 15px 30px
    width: 75%
    font-size: 22px
    border: none
    cursor: pointer
    margin: 50px 0px 0px 0px

.work-septik-left__two img
    opacity: 0.8
    width: 400px
    height: 300px

.work-septik-right-form__img
    display: flex
.work-septik-right-form__img img
    width: 200px
    margin: 0 auto


.quest-block
    width: 100%

.question-content__quest
    width: 80%
    margin: 0 auto

.quest-name, .quest-text
    color: black

.quest-name
    cursor: pointer
    position: relative
    padding: 35px 85px 35px 96px
    font-size: 16px
    font-weight: 700
    line-height: 20px


.footer-content 
    width: 100%
    // border: 2px solid red
    background: rgb(26, 127, 0)
    padding: 20px

.foo-container 
    width: 80%
    // border: 2px solid blue
    margin: 0 auto
    display: flex
    justify-content: space-around

.foo-container li
    list-style-type: none

.foo-container li p
    color: aliceblue

.ff
    // border: 2px solid green
    width: 25%
    color: black
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.ff p, .ff a, .ff li p > strong
    color: aliceblue
    font-size: 13px

// .modalbtn
//     width: 70px
//     height: 70px
//     border-radius: 35px
//     border: none
//     overflow: hidden
//     position: relative
//     cursor: pointer
//     // margin-left: 200px 

// .modal
//     position: fixed
//     right: 3%
//     bottom: 4%
// .modalbtn img
//     display: flex
//     flex-wrap: wrap
//     align-items: center
//     justify-content: center
//     width: 80px
//     height: 80px
//     border-radius: 40px
//     padding: 10px
//     border: none
//     background: #ff0000
//     box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2)
//     position: fixed
//     bottom: 50px
//     right: 50px
//     cursor: pointer
//     outline: none
//     z-index: 1000

// .modalbtn .pulse__icon
//     display: block
//     width: 80px
//     height: 80px
//     background: url("../img/w512h5121380376664MetroUIPhoneAlt.png") center center/cover no-repeat
//     transition: .3s

// .modalbtn:hover .pulse__icon
//     opacity: 0
//     visibility: hidden
//     position: absolute
//     transition: .3s

// .modalbtn .pulse__ring
//     border: 1px solid #ff0000
//     position: absolute
//     top: 0
//     left: 0
//     bottom: 0
//     right: 0
//     height: auto
//     width: auto
//     border-radius: 50%
//     animation-duration: 2.0s
//     animation-name: pulse_1
//     animation-iteration-count: infinite
//     z-index: -1

// .modalbtn .pulse__ring:nth-child(2)
//     animation-name: pulse_2

// .modalbtn .pulse__ring:nth-child(3)
//     animation-name: pulse_3

// @keyframes pulse_1 
//   from 
//     opacity: 1
//     transform: scale(0.9, 0.9)
  
 
//   to 
//     opacity: 0
//     transform: scale(1.3, 1.3)
  

 
// @keyframes pulse_2 
//   from 
//     opacity: 1
//     transform: scale(0.8, 0.8)
  
 
//   to 
//     opacity: 0
//     transform: scale(1.5, 1.5)
  

 
// @keyframes pulse_3 
//   from 
//     opacity: 1
//     transform: scale(0.8, 0.8)
  
 
//   to 
//     opacity: 0
//     transform: scale(1.7, 1.7)
  

.pulse-button 
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  width: 80px
  height: 80px
  border-radius: 40px
  padding: 10px
  border: none
  background: rgb(26, 127, 0)
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2)
  position: fixed
  bottom: 50px
  right: 50px
  cursor: pointer
  outline: none
  z-index: 1000


.pulse-button__icon 
  display: block
  width: 40px
  height: 40px
  background: url("../img/12345.png") center center/cover no-repeat
  transition: .3s


.pulse-button__text 
  display: block
  width: 100%
  height: 30px
  font: 12px 'Open Sans', sans-serif
  color: #fff
  text-align: center
  line-height: 1.2
  opacity: 0
  visibility: hidden
  position: absolute
  transition: .3s
  margin-top: 1px


.pulse-button:hover .pulse-button__icon 
  opacity: 0
  visibility: hidden
  position: absolute
  transition: .3s

 
.pulse-button:hover .pulse-button__text 
  transition: .3s
  opacity: 1
  visibility: visible
  position: relative


.pulse-button__rings 
  border: 1px solid #ff0000
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  height: auto
  width: auto
  border-radius: 50%
  animation-duration: 2.0s
  animation-name: pulse_1
  animation-iteration-count: infinite
  z-index: -1

 
.pulse-button__rings:nth-child(2) 
  animation-name: pulse_2

 
.pulse-button__rings:nth-child(3) 
  animation-name: pulse_3


@keyframes pulse_1 
  from 
    opacity: 1
    transform: scale(0.9, 0.9)
  
 
  to 
    opacity: 0
    transform: scale(1.3, 1.3)
  

 
@keyframes pulse_2 
  from 
    opacity: 1
    transform: scale(0.8, 0.8)
  
 
  to 
    opacity: 0
    transform: scale(1.5, 1.5)
  

 
@keyframes pulse_3 
  from 
    opacity: 1
    transform: scale(0.8, 0.8)
  
 
  to 
    opacity: 0
    transform: scale(1.7, 1.7)
  


.popup
    position: fixed
    width: 400px
    height: 100vh
    // border: 2px solid red
    top: 0
    right: 0px
    z-index: 1000
    transition: all 0.4s
    transform: translateX(150%)
    animation: ani 1s forwards
    background: rgb(0, 32, 128)
    box-shadow: 0px 0px 30px black

.popup-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    margin: 20px

.popup-content h5
    font-size: 24px
    color: aliceblue
    margin-bottom: 20px

.popup-content input
    height: 50px
    border-radius: 20px
    border: none
    color: black
    font-size: 20px
    padding: 20px
    margin-bottom: 40px

.popup-content .modal-div button
    background: rgb(25, 127, 0)
    border: none
    border-radius: 10px
    width: 200px
    height: 40px
    font-size: 15px
    font-weight: 700
    cursor: pointer

.popup-content .modal-div button:hover
    background: rgb(36, 182, 0)
    transition: all .3s

.closeBtn
    color: aliceblue
    background: none
    border: none
    cursor: pointer
    position: absolute
    right: 2%
    top: 2%

.modal-div img
    width: 200px

.imgdiv 
    position: absolute
    top: 10%
.popup-content .modal-div p
    font-size: 10px
    width: 70%
    margin: 0 auto
    text-align: center
    margin-top: 10px 

.closeBtn:hover
    border-bottom: 1px dashed aliceblue


.modal-form 
    display: none
    position: fixed
    margin: 0 auto
    z-index: 999
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

.modal-form .popup-content 
    background-color: #fefefe
    margin: 0 auto
    padding: 230px
    border: 1px solid #888
    width: 40%
    height: 60%
    box-shadow: 5px 10px 5px #666
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

.modal-form .close 
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold

.modal-form  .close:hover, .modal-form  .close:focus 
    color: black
    text-decoration: none
    cursor: pointer

.modal-form .modal-div h5
    color: black
    font-size: 16px

.modal-form .imgdiv
    position: static

.modal-form input
    border: 2px solid green
    outline: 0
    font-size: 14px

.modal-form p
    color: black




@keyframes ani
    0%
        transform: translate(150%)
    100%
        transform: translate(0)





